# ignore large files
data/*
!data/test/
!data/domain_annotations_consolidated.csv
!data/unique_RBDs.tsv

# ignore log files
*.log

# ignore real output
results/*
!results/.gitkeep
!results/domain_level_results_ebm_dedup.csv
!results/domain_level_results_cauchy_dedup.csv
!results/peptide_domain_mapping.csv

# ignore test output
test/results/*
!test/results/.gitkeep